.shape1 {
    stroke-dasharray: 1628;
    stroke-dashoffset: 0;
;
    stroke-width: 5px;
    fill: transparent;
    stroke: #c7cdfb;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
    font-size: 22px;
    line-height: 32px;
    top: -62px;
    position: relative;
}
.svg-wrapper1:hover .shape1 {
    stroke-width: 5px;
    stroke-dashoffset: 0;
    stroke-dasharray: 78;
}

.shape2 {
    stroke-dasharray: 1628;
    stroke-dashoffset: 0;
    stroke-width: 5px;
    fill: transparent;
    stroke: #c7cdfb;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.svg-wrapper2:hover .shape2 {
    stroke-width: 5px;
    stroke-dashoffset: 0;
    stroke-dasharray: 78;
}
.shape3 {
    stroke-dasharray: 2200;
    stroke-dashoffset: 0;
    stroke-width: 5px;
    fill: transparent;
    stroke: #c7cdfb;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.svg-wrapper3:hover .shape3 {
    stroke-width: 5px;
    stroke-dashoffset: 0;
    stroke-dasharray: 78;
}

.text1 {
    font-size: 22px;
    line-height: 32px;
    top: -53px;
    position: relative;
}

.shape4 {
    stroke-dasharray: 1628;
    stroke-dashoffset: 0;
    stroke-width: 5px;
    fill: transparent;
    stroke: #c7cdfb;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.svg-wrapper4:hover .shape4 {
    stroke-width: 5px;
    stroke-dashoffset: 0;
    stroke-dasharray: 78;
}

.shape5 {
    stroke-dasharray: 1628;
    stroke-dashoffset: 0;
    stroke-width: 5px;
    fill: transparent;
    stroke: #4d9952;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.svg-wrapper5:hover .shape5 {
    stroke-width: 5px;
    stroke-dashoffset: 0;
    stroke-dasharray: 78;
}